@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700|PT+Sans|Public+Sans:400,600&display=swap');
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'PT Sans', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Public Sans', sans-serif;*/

.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.title {
    font-weight: 600;
    font-family: 'Public Sans', sans-serif;
}

.subtitle {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.text-label {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.text-navbar {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.text-title {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

.text-small {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.border-title {
	border-left: 0.30rem solid #17a2b8;
}

fieldset {
	border: solid 0.25rem #dbdbdb !important;
}

fieldset legend {
	width: auto !important;
	margin-left: 0.5rem;
	margin-bottom: 0 !important;
	padding: 0rem 0.5rem;
    border: none;
	font-size: 1.25rem;
	font-weight: 700;
}

textarea {
	resize: none !important;
}

.modal-dialog {
	min-width: 50%;
}

.text-outline-info {
    color: #fff;
    stroke: #17a2b8;
    stroke-width: 1.1rem;
    transition: transform 1s;
}
  
.text-outline-info:hover {
    color: #fff;
    stroke: #0f6674;
    stroke-width: 1.1rem;
    transform: scale(1.2);
}